{% extends "conference/home.html" %}

{% block sidebar %}

{% endblock %}

<div id="page-wrapper">
{% block body %}


<div class="bodymargin">




<h2>Scientific Advisory Committee</h2>
 


<p><strong>K. Vijaya Raghavan</strong>, Ph.D.<br/>
Department of Biotechnology (DBT), India</p>
 

 
<p><strong>Basuthkar J Rao</strong>, Ph.D.<br/>
Tata Institute of Fundamental Research, Bombay</p>

<p><strong>Ranjan Sen</strong>, Ph.D.<br/>
National Institute on Aging (NIH), Baltimore, USA</p>
<br>
<h2>Convener</h2>
<p><strong>Jagan Pongubala</strong>, Ph.D.<br/> University of Hyderabad </p><br>
<h2>Local Organizing Committee</h2>
<h3>Chairman</h3>
<p><strong>Ram Ramaswamy</strong>, Ph.D.</p>
<h3>Members</h3>
<p>
<strong>Prof. A.S. Raghavendra </strong> <br>
<strong>Prof. Aparna D. Gupta </strong><br>
<strong>Prof. Siva Kumar</strong> <br>
<strong>Prof. A.R. Reddy </strong><br>
<strong>Prof. Ch. Venkata Ramana </strong><br>
<strong>Prof. Senthilkumaran B </strong><br>
<strong>Dr. Sarada T </strong><br>
<strong>Dr. Naresh Babu V S</strong> <br>
<strong>Dr. Krishnaveni M </strong><br>
<strong>Dr. S Rajagopal </strong><br>
<strong>Dr. Sharmistha B </strong><br>
<strong>Dr. Sreenivasulu K </strong><br>
<strong>Dr. Suresh Yenugu </strong><br>
<strong>Dr. Irfan Ahmed Ghazi </strong><br>
<strong>Dr. Brahmanandam M </strong><br>
<strong>Dr. Prakash Prabhu </strong><br>
<strong>Dr. Ravi Kumar G </strong><br>
<strong>Dr. Noorudhin Khan </strong><br>
<strong>Dr. Bindhu M Reddy </strong><br>
<strong>Dr. Anil Kumar</strong><br>
<strong>Dr. Roy K</strong><br>
</p>

<br>
<br>
<br>
</div>


{% endblock %}

