{% extends "conference/home.html" %}

{% block body %}
<div class="bodymargin">
<h2>Registration Information</h2>

<p>Deadline for Registration and abstract submission for oral/poster presentation is Nov 7, 2014.</p>  

<p>Please be aware that there is NO on-site registration for our conference.</p> 
<b>Registration fee:</b><br>
<table>
<tr>
<td>Student:</td><td>National: Rs. 3500</td>
</tr>
<tr>
<td></td>
<td>International: 300 USD</td> 
</tr>
<tr>
<td>Scientist:</td><td>National: Rs. 5000</td>
</tr>
  <tr>
    <td></td>
    <td>International: 400 USD</td> 
    
  </tr>
</table>


<p>Please mail check or demand draft in the name of Genome Architecture and Cell Fate Regulation, University of Hyderabad, to the address indicated below:</p>

<p>Jagan Pongubala<br>
Convener, GACFR-2014<br>
Department of Animal Sciences<br>
School of Life Sciences<br>
University of Hyderabad<br>
Gachibowli, Hyderabad 500046</p>

<p>Alternatively, registration fee can be transferred electronically to the bank account indicated below:</p>

<p>Name: Genome Architecture and Cell Fate Regulation<br>
Bank: State Bank of India<br>
Branch: HUC HYDERABAD<br>
A/c: 34050951567<br>
IFSC: SBIN0005916<br>
MICR: 500002063</p>
<p>Registration fee includes access to all conference activities, local transportation, lunch during conference days. Registration fee does not include accommodation charges. All student participants will be offered accommodation at a low cost in University of Hyderabad Guest House on a shared basis during Dec 1-4, 2014. Conference organizers have negotiated with few hotels to offer accommodation at an attractive rate for all registered participants of the conference from December 1, 2014 to December 4, 2014. Please contact <a href="http://www.radisson.com/hyderabad-hitec">Radisson Hyderabad Hitec City </a> (Rakesh Chandra Sharma: +91 9246895129) to book for hotel accommodation.</p>

<h2>Abstract submission:</h2>
<p>Abstract should contain only new and unpublished material and it must be submitted through on-line by the abstract deadline. Each abstract should not exceed 3000 characters including title, list of authors, affiliation and summary. You will receive an email prompt following successful completion of all fields. In each session, we will reserve time for at least one short talk selected from the submitted abstracts. Please indicate your presentation preference.</p>

<p>Please follow the bottom link for registration and submission of an abstract. If you encounter any problem, please write to us: <a href="mailto:jaganpongubala@gmail.com">jaganpongubala@gmail.com</a>. A response will be sent you within 24 hrs.</p>

<h2>Meeting Venue and Poster Area:</h2>
<p>All meeting sessions will be held in the Auditorium of the School of Life Sciences, whereas the poster sessions will be held in the main Atrium of the School of Life Sciences.</p>

<h2>On-Site housing:</h2>
<p>Early registered participants will have an option to stay in a single or shared room in University of Hyderabad Guest on a priority basis. </p>

<h2>Audio Visual Information:</h2>
<p>The School of Life Sciences auditorium is recently constructed and it has a full range of audio visual equipment. LCD projector offers 1024X768 resolution and it can accommodate both PCs and MACs.</p>

<h2>Presentation:</h2>
<p>Speakers are anticipated to bring their presentation either in a flash drive or CD. Alternatively, speakers can use their laptop computer to connect to the LCD projector. The audio-visual system can be connected using a 15-pin VGA cable. Those who use laptop that requires proprietary cables should bring appropriate adaptors to establish the connectivity to the LCD projector.</p> 

<h2>WiFi:</h2>
<p>The School of Life Sciences will provide WiFi connectivity to all participants during the conference.</p>

<h2>Additional Information: </h2>
<p>All questions related to registration, accommodation, abstract submission or any other queries should be directed to 
<a href="mailto:jaganpongubala@gmail.com">jaganpongubala@gmail.com</a></p>

<p>Following registration, you will receive an email with a conference ID number. Please reference this ID number when contacting for any additional assistance.</p> 
</div>
<br>
<br>

<div class="rbutton">
<a href="{% url 'conference:registration' %}" class="button-link">Register</a>
</div>

<br>
{% endblock %}