{% extends "conference/home.html" %}

{% block body %}

<div class="bodymargin marginleft">
<h2>Topics</h2>
<p>Chromatin Modeling<br>
Epigenetics<br>
Chromatin Dynamics<br>
Developmental Regulatory Networks<br>
Cell Signalling and Response<br>
Genome Damage and Dysfunction<br>
</p>
<br>
<br>
<h2>International Speakers</h2>
<p>
<strong>Andrew S. Belmont</strong>, University of Illinois, Urbana<br>
<strong>Rafael Casellas</strong>, Center for Cancer Research (NIH), Bethesda<br>
<strong>Dipanjan Chowdhury</strong>, Dana-Farber Cancer Institute, Boston<br>
<strong>Victor Corces</strong>, Emory University, Atlanta<br>
<strong>Sankar Ghosh</strong>, Columbia University, New York<br>
<strong>Rudi Grosschdle</strong>, Max Planck Institute of Immunobiology and Epigenetics, Freiburg<br>
<strong>Kees Murre</strong>, University of California, San Diego<br>
<strong>Ranjan Sen</strong>, National Institute on Aging (NIH), Baltimore<br>
<strong>Harinder Singh</strong>, Cincinnatti Children's Hospital, Cincinnatti<br>
<strong>Amy Kenter</strong>, UIC, Chicago<br>
<strong>Sasha Tarakhovsky</strong>, Rockefeller University, New York<br>
<strong>Ruan Yijun</strong>, The Jackson Laboratory, Connecticut<br>
<strong>Juan Carlos Belmonte</strong>, Salk Institute, La Jolla<br>
<strong>Eugene Oltz</strong>, Washington University, St. Louis <br> 
<strong>Barry Sleckman</strong>, Washington University, St. Louis<br>
<strong>Helder Nakaya</strong>, University of Sao Paulo, Brazil <br>
<strong>Steven Kosak</strong>, Northwestern University, Chicago <br>
</p>
<h2>National Speakers</h2>
<p>
<strong>Vijay Raghavan</strong>, DBT, India<br>
<strong>Ram Ramaswamy</strong>, UH, Hyderabad<br>
<strong>Basuthkar J. Rao</strong>, TIFR, Mumbai<br>
<strong>Rakesh Mishra</strong>, CCMB, Hyderabad<br>
<strong>Jyotsna Dhawan</strong>, CCMB, Hyderabad<br>
<strong>Nagaraj V</strong>, IISc, Bangalore<br>
<strong>Muniyappa K</strong>, IISc, Bangalore<br>
<strong>Tapas Kundu</strong>, JNCASR, Bangalore<br>
<strong>Gautam Menon</strong>, IMSC, Chennai <br>
<strong>Krishna Pal Karmodia</strong>, IISER, Pune<br>
<strong>Dasaradhi Palakodeti</strong>, InStem, Bangalore <br>
<strong>Ishita Mehta</strong>, TIFR, Mumbai<br>
<strong>Kuljeet Sandhu</strong>, IISER, Mohali<br>
<strong>Sathees Raghavan</strong>, IISc, Bangalore<br>
<strong>Ravi Venkatramani</strong>, TIFR, Mumbai<br>
<strong>Kundan Sengupta</strong>, IISER, Pune <br>
<strong>Mahendra Sonawane</strong>, TIFR, Mumbai<br>
<strong>Akanksha Chaturvedi</strong>, IISER, Pune <br>
<strong>Sreelaja Nair</strong>,TIFR, Mumbai<br>
<strong>Nooruddin Khan</strong>, University of Hyderabad, Hyderabad<br>
<strong>Subba Reddy M</strong>, CDFD, Hyderabad <br>
<strong>Rashna Bhandari</strong>, CDFD, Hyderabad <br>
<strong>Subhojit Sen</strong>, CBS, Mumbai<br>
<strong>Satish Devadas,</strong>, ILS, Bhubaneswar<br>
<strong>Ram Kumar Mishra</strong>, IISER, Bhopal <br>
<strong>Lolitika Mandal</strong>, IISER, Mohali <br>
<strong>Tina Mukherjee</strong>, InStem, Bangalore<br>
<strong>Soumen Basak</strong>, NII, New Delhi<br>
<strong>Madhulika Srivastava</strong>, NII, New Delhi<br>
<br>
and more ......
</p>

<br>
<br>
<p>
The conference format will include 6 oral sessions, one poster session and an open discussion with the experts. The oral sessions will include invited speakers as well as speakers selected from submitted abstracts.
Therefore abstracts from accomplished young investigators are warmly invited. The abstracts should focus on recent and unpublished data. 
The organizing committee will select abstracts for oral or poster presentation.
<br></p>
<p id="speakersend">
We hope to see you at the conference.
</p>

</div>


{% endblock %}