{% extends "conference/home.html" %}

{% block body %}

<div class="bodymargin">
<h2>Public Sponsors</h2>
<table class="csponsor_table">
<tr>
<td><img src="{{ STATIC_URL }}sponsors/hculogo.jpg"></td>
<td><img src="{{ STATIC_URL }}sponsors/tifr.png"></td>
<td><img src="{{ STATIC_URL }}sponsors/dbt.png"></td>
<td><img src="{{ STATIC_URL }}sponsors/b1.jpg" ></td>
<td><img src="{{ STATIC_URL }}sponsors/b2.jpg" ></td>

</tr>
<tr>
<td><img src="{{ STATIC_URL }}sponsors/b3.jpg"></td>
<td><img src="{{ STATIC_URL }}sponsors/b4.jpg" ></td>
<td><img src="{{ STATIC_URL }}sponsors/b6.png" ></td>
</tr>
</table>
<br>
<br>
<h2>Corporate Sponsors</h2>
<table class="csponsor_table">
<tr>
<td><img src="{{ STATIC_URL }}sponsors/1.png"  ></td>
<td><img src="{{ STATIC_URL }}sponsors/2.png" ></td>
<td><img src="{{ STATIC_URL }}sponsors/3.png"></td>
<td><img src="{{ STATIC_URL }}sponsors/4.png" ></td>
<td><img src="{{ STATIC_URL }}sponsors/a20.png" ></td>

</tr>
<tr>



<td><img src="{{ STATIC_URL }}sponsors/7.png" ></td>
<td><img src="{{ STATIC_URL }}sponsors/8.jpg" ></td>
<td><img src="{{ STATIC_URL }}sponsors/11.jpg"></td>
<td><img src="{{ STATIC_URL }}sponsors/5.png" ></td>
<td><img src="{{ STATIC_URL }}sponsors/a21.jpg" ></td>
</tr>

<tr>

<td><img src="{{ STATIC_URL }}sponsors/b5.png" ></td>
<td><img src="{{ STATIC_URL }}sponsors/6.png" ></td>


</tr>
</table>
</div>
{% endblock %}