<div id="menutop">
          <nav class="floatleft">
            <ul>
            <li><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
              <li><a href="{% url 'conference:home' %}">Home</a></li>
              <li><a href="{% url 'conference:speakers' %}">Program/Speakers</a></li>
              <li><a href="{% url 'conference:advisory' %}">Committees</a></li>
              <li><a href="{% url 'conference:registrationdetails' %}">Registration</a></li>
              <li><a href="{% url 'conference:sponsors' %}">Sponsors</a></li>
              <li><a href="{% url 'conference:contact' %}">Contact</a></li>
              <li><a href="{% url 'conference:travel' %}">Travel</a></li>
              <li><a href="{% url 'conference:schedule' %}">Conference Schedule</a></li>
            </ul>
          </nav>
        </div>