{% extends "conference/home.html" %}
{% block body %}
<div class="bodymargin">
<h2>Travel Information</h2>

<h2>Venue:</h2>
<p><b>School of Life Sciences<br>
University of Hyderabad<br>
Gachibowli, Hyderabad 500046</b></p>

<p>The University of Hyderabad is located in the Western part of the city of Hyderabad and it is 30 Km away from Rajiv Gandhi International Airport (RGIA). The campus of the University of Hyderabad spans about 1500 acres of woodlands, lakes, trails and open fields. The University of Hyderabad is only a short distance from HITEC City, a state-of-the-art information technology park.</p>

<h2>Arrival and Check-In:</h2>
<p>Hyderabad is located in the Southern part of the country and is well connected to other major metropolitan cities in India and to major destinations around the world.</p>

<p>The conference will begin on Dec 1st, 2014 at 10 am. It is anticipated that all participants will arrive at the School of Life Sciences before 10:00 am on Dec 1st, 2014. Participants arriving early should inform the organizer. Conference will be concluded in the afternoon of 4th Dec. All participants are expected to be present throughout the conference.</p>

<p><b>From Airport:</b> Shuttle-van will be available on December 1st, 2014 to receive participants from the RGIA. The schedule of the shuttle-van will be posted soon. Please avoid hiring a private limousine or cab. </p>

<p><b>From Train Station:</b> There are three major railway stations, Secunderabad, Kacheguda and Nampally (Hyderabad) in the city of Hyderabad. However, there is no direct bus route from these stations to reach University of Hyderabad. Therefore, participants are recommended to take an auto to reach Lakidikapul or Mehdipatnam from where one can take a bus route 216 or 217 to reach University of Hyderabad. </p>

<p><b>From Bus Station:</b> Participants arriving at Lakidikapul or Mehdipatnam bus station are advised to take city bus route 216 to reach the University of Hyderabad.  Those arriving at Nampally are advised to take an auto to reach Mehdipatnam to catch a bus route, 216, for University of Hyderabad. </p>

<h2>Additional Information:</h2>
<p>All questions related to transportation or any other queries should be directed to 
<a href="mailto:jaganpongubala@gmail.com">jaganpongubala@gmail.com</a></p>
{% endblock %}